Source: command
Section: devel
Priority: extra
Maintainer: Rafał Długołęcki <kontakt@dlugolecki.net.pl>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://dlugolecki.net.pl/software/command

Package: command
Architecture: all
Description: C++ library for handling command line arguments
 
